{% extends "bunchup/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<div class="media content-section mx-auto">
				<img class="rounded-circle article-img" src="{{ hub.image.url }}">
				<div class="media-body">
					<h2>{{ activity.name }}</h2>
					<p>Hosted by <a href="{% url 'bunchup-hub' activity.hub.id %}">{{ activity.hub }} <img class="rounded-circle hub-icon" src="{{ activity.hub.image.url }}"></p></a>
					<hr>
					<p>{{ activity.description }}</p>
				</div>
			</div>
			<div class="media content-section mx-auto">
				<img class="rounded-circle article-img" src="{{ hub.image.url }}">
				<div class="media-body">
				<h2>Chat Room</h2>
					<textarea class="form-control" rows=20 id="chat-log"></textarea><br>
					<input id="chat-message-input" type="text"><br>
					<input id="chat-message-submit" type="button" value="Send">
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="media-body content-section mx-auto">

                {% if user in activity.users.all %}
				<div>
					<a class="btn btn-secondary mt-1 mb-1" href="{% url 'bunchup-activity-leave' activity.id %}">Leave</a>
				</div>
                {% else %}
				<div>
					<a class="btn btn-secondary mt-1 mb-1" href="{% url 'bunchup-activity-join' activity.id %}">Join</a>
				</div>
                {% endif %}

				{% if user in admins %}
				<hr>
				<p class="article-title">Admin Controls</p>
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-update' hub.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-delete' hub.id %}">Delete</a>
				</div>
				{% endif %}

			</div>
			<div class="media-body content-section mx-auto">
				<h2>Users</h2>
				{% for user in activity.users.all %}
					<p><img class="rounded-circle hub-icon" src="{{ user.profile.image.url }}"> {{ user.username }}</p>
				{% endfor %}
			</div>
		</div>
	</div>


    {{ activity.id|json_script:"activity-id" }}
    <script>
        function addMessage(message) {
            let chatLog = document.querySelector('#chat-log');
            chatLog.value += `${message.owner}: ${message.text}\n`;
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        const activityId = JSON.parse(document.getElementById("activity-id").textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/activity/'
            + activityId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            addMessage(data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'activity': activityId
            }));
            messageInputDom.value = '';
        };

        {% for chat_message in chat_messages %}
            addMessage(JSON.parse(
                "{ \"text\": \"{{ chat_message.text }}\", \"owner\": \"{{ chat_message.owner.username }}\" }"
            ));
        {% endfor %}
    </script>



{% endblock content %}