{% extends "bunchup/base.html" %}
{% load static %}

{% block content %}
	<div class="row">
		<div class="col-md-9">
			<div class="media content-section mx-auto">
				<img class="rounded-circle article-img" src="{{ hub.image.url }}">
				<div class="media-body">
					<h2>{{ activity.name }}</h2>
					<p>Hosted by <a href="{% url 'bunchup-hub' activity.hub.id %}">{{ activity.hub }} <img class="rounded-circle hub-icon" src="{{ activity.hub.image.url }}"></p></a>
					<hr>
					<p>{{ activity.description }}</p>
				</div>
			</div>
			<div class="media content-section mx-auto">
				<img class="rounded-circle article-img" src="{{ hub.image.url }}">
				<div class="media-body">
                    <h2>Chat Room</h2>
                    
					{% comment %} <textarea class="form-control" rows=20 id="chat-log"></textarea><br> {% endcomment %}
                    <div class="form-control" id="chat-log"></div>

                    <div class="row mt-2 no-gutters">
                        <div id="chat-message-entry" class="col">
                            <input class="form-control bg-light" id="chat-message-input" type="text" placeholder="Type a message..."><br>
                        </div>
                        <div id="chat-message-submit" class="col bg-primary rounded pl-1 pt-1 ml-2">

                            {% comment %} <input class="form-control" id="chat-message-submit" type="button" value="Send"> {% endcomment %}
                            <img src="{% static 'bunchup/img/send.svg' %}"></img>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="media-body content-section mx-auto">

                {% if user in activity.users.all %}
				<div>
					<a class="btn btn-secondary mt-1 mb-1" href="{% url 'bunchup-activity-leave' activity.id %}">Leave</a>
				</div>
                {% else %}
				<div>
					<a class="btn btn-secondary mt-1 mb-1" href="{% url 'bunchup-activity-join' activity.id %}">Join</a>
				</div>
                {% endif %}

				{% if user in admins %}
				<hr>
				<p class="article-title">Admin Controls</p>
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-update' hub.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-delete' hub.id %}">Delete</a>
				</div>
				{% endif %}

			</div>
			<div class="media-body content-section mx-auto">
				<h2>Users</h2>
				{% for user in activity.users.all %}
					<p><img class="rounded-circle hub-icon" src="{{ user.profile.image.url }}"> {{ user.username }}</p>
				{% endfor %}
			</div>
		</div>
	</div>


    {{ activity.id|json_script:"activity-id" }}
    <script>
        let chatLog = document.querySelector("#chat-log");

        function scrollChatToBottom() {
            chatLog.scrollTop = chatLog.scrollHeight;
        }

        function addMessage(message) {
            let rootRow = document.createElement("div");

            let nameRow = document.createElement("div");
            nameRow.className = "row ml-1";

            let nameRowSpace = document.createElement("div");
            nameRowSpace.className = "col chat-profile-icon";

            nameRow.appendChild(nameRowSpace);

            let name = document.createElement("div");
            name.className="col"
            name.textContent = message.owner;
            
            nameRow.appendChild(name);

            //

            let chatMessage = document.createElement("div");
            chatMessage.className = "d-inline-block bg-light rounded chat-message py-2 px-3 ml-2";
            chatMessage.textContent = message.text;

            let messageContainer = document.createElement("div");
            messageContainer.className = "col";

            messageContainer.appendChild(chatMessage);

            let chatProfileImage = document.createElement("img");
            chatProfileImage.className = "d-inline rounded-circle chat-profile-icon";

            console.log(message.picture);
            chatProfileImage.src = message.picture;

            let imageContainer = document.createElement("div");
            imageContainer.className = "col chat-profile-icon";

            imageContainer.appendChild(chatProfileImage);

            let row = document.createElement("div");
            row.className = "row mb-2";

            row.appendChild(imageContainer);
            row.appendChild(messageContainer);

            //

            rootRow.appendChild(nameRow)
            rootRow.appendChild(row);

            chatLog.appendChild(rootRow);

            scrollChatToBottom();
        }

        const activityId = JSON.parse(document.getElementById("activity-id").textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/activity/'
            + activityId
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            addMessage(data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'activity': activityId
            }));
            messageInputDom.value = '';
        };

        {% for chat_message in chat_messages %}
            addMessage(JSON.parse(
                "{ \"text\": \"{{ chat_message.text }}\", \"owner\": \"{{ chat_message.owner.username }}\", \"picture\": \"{{ chat_message.owner.profile.image.url }}\" }"
            ));
        {% endfor %}

        setTimeout(() => {
            scrollChatToBottom();
        }, 100);
    </script>



{% endblock content %}