{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Metadata -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Bunchup</title>
	
		<!-- Favicons -->
		{% comment %} <link rel="icon" href="{% static 'bunchup/img/favicons/GingerbreadElephant.png' %}"> {% endcomment %}

		<link rel="icon" href="{% static 'bunchup/img/favicons/favicon.ico' %}">
		<link rel="icon" href="{% static 'bunchup/img/favicons/favicon-32x32.png' %}" sizes="32x32" type="image/png">
		<link rel="icon" href="{% static 'bunchup/img/favicons/favicon-16x16.png' %}" sizes="16x16" type="image/png">
		<link rel="apple-touch-icon" href="{% static 'bunchup/img/favicons/apple-touch-icon.png' %}" sizes="180x180">

		<meta name="theme-color" content="#F88859">
	
		<!-- Bootstrap CSS and Stylesheets -->
		<link rel="stylesheet" href="{% static 'bunchup/bootstrap/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'bunchup/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'bunchup/css/font%20awesome-free-5.11.2-all.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

        <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="{% static 'bunchup/css/bunchup.css' %}">
	</head>
	<body>
		<header class="site-header py-1">
			<nav class="navbar navbar-expand-md fixed-top bg-white navbar-shadow">
				<div class="container">
                    <a class="mx-auto" href="{% url 'bunchup-home' %}">
                        <img class="nav-elephant-logo" src="{% static 'bunchup/img/logo.png' %}"></img>
                    </a>

                    <!-- Navbar Right Side -->
                    {% if user.is_authenticated %}
                    <div>
                        <a class="no-text-dec" href="{% url 'profile' %}">
                            <img class="peng-profile-image mr-3" src="{{ user.profile.image.url }}"></img>
                            <h2 class="d-inline text-heebo">
                                {{ user.username }}
                            </h2>
                        </a>
                        <a class="mx-2" href="{% url 'logout' %}">
                            {% comment %} <object data="{% static 'bunchup/img/arrow-down.svg' %}" type="image/svg+xml"></object> {% endcomment %}
                            <img src="{% static 'bunchup/img/arrow-down.svg' %}"></img>
                        </a>
                    </div>
                    {% else %}
                    <div>
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                    {% endif %}
				</div>
			</nav>
		</header>
		<main role="main" class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
		</main>
	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>