{% extends "bunchup/base.html" %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="media content-section mx-auto">
				
				<div class="media-body">
					<h2><img class="rounded-circle hub-icon" src="{{ hub.image.url }}"> {{ hub.name }}</h2>
					<p>Hosted by{% for admin in admins %} {{ admin.username }} <img class="rounded-circle hub-icon" src="{{ admin.profile.image.url }}">{% endfor %} Users: {{ total_users }}</p>
					<hr>
					<p>{{ hub.description }}</p>
					<div>
						{% if user in admins %}
							<a class="btn btn-info btn-sm mt-1 mb-1" href="{% url 'bunchup-activity-create' hub.id %}">New Activity</a>
						{% endif %}
						{% if user in users %}
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-join' hub.id %}">Join Hub</a>
						{% else %}
							<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-leave' hub.id %}">Leave Hub</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% if next_activity %}
		<div class="col-md-12">
			<div class="media-body cute-container content-section mx-auto">
				<h2>Next Activity</h2>
				<a class="d-block-inline col-md-4 no-text-dec mb-4" href="{% url 'bunchup-activity' next_activity.id %}">
					<div class="card box-shadow">
						<img class="card-img-top" src="{{ next_activity.image.url }}" alt="Card image cap">
						<div class="card-body px-3 py-2">
							<h4>{{ next_activity.name }}</h4>
							<small class="card-text">{{ next_activity.description }}</small>
						</div>
					</div>
				</a>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="media content-section mx-auto">
				<div class="media-body">
				<h2>Channels</h2>
					<p>Channel 1</p>
					<p>Channel 2</p>
					<p>Channel 3</p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="media content-section mx-auto">
				<div class="media-body">
				<h2>Chat Room</h2>
					<textarea class="form-control" rows=20 id="chat-log"></textarea><br>
					<input id="chat-message-input" type="text"><br>
					<input id="chat-message-submit" type="button" value="Send">
				</div>
			</div>
		</div>
	</div>
	{% if next_activity %}
	<div class="content-section mx-auto">
		<h2>Upcoming Activities</h2>
		<div class="row">
			{% for activity in activities %}
				<a class="d-block-inline col-md-4 no-text-dec mb-4" href="{% url 'bunchup-activity' activity.id %}">
					<div class="card box-shadow">
						<img class="card-img-top" src="{{ activity.image.url }}" alt="Card image cap">
						<div class="card-body px-3 py-2">
							<h4>{{ activity.name }}</h4>
							<small class="card-text">{{ activity.description }}</small>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	{% endif %}
		<div class="media content-section cute-container mx-auto">
			<div class="media-body">
			{% if user in admins %}
				<h2 class="article-title">Admin Controls</h2>
				<div>
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-update' hub.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bunchup-hub-delete' hub.id %}">Delete</a>
				</div>
				{% endif %}
			</div>
		</div>
{% endblock content %}
