{% extends "bunchup/base.html" %}

{% block content %}
		<div class="content-section cute-container mx-auto">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Delete Hub</legend>
					<h3>{{ hub.name }}</h3>
				</fieldset>
				<div class="form-group">
					<p>Are you sure you want to delete this hub?</p>
					<button class="btn btn-danger" type="submit">Delete</button>
					<button class="btn btn-outline-info" type="submit">Cancel</button>
				</div>
			</form>
		</div>
{% endblock content %}
