{% extends "bunchup/base.html" %}

{% block content %}
    <section class="jumbotron text-center">
      <div class="container">
        {% if user.is_authenticated %}
            <h1 class="jumbotron-heading">Hello! 👋</h1>
            <h3 class="lead">Browse some of the activities going on today.</h3>
        {% else %}
            <h1 class="jumbotron-heading">Welcome!</h1>
            <h3 class="lead">Bunchup makes it super easy to find people to play with.</h3>
            <p>
                <a href="#" class="btn btn-bunchup my-2">Join Bunchup</a>
            </p>
        {% endif %}
      </div>
    </section>

    {% for highlight_name, highlights in highlights.items %}
	<h1 class="mb-4">{{ highlight_name }}</h1>
    <div class="row">
        {% for highlight in highlights %}

        {% if highlight.hub %}
        <a class="d-block-inline col-md-4 no-text-dec mb-4" href="{% url 'bunchup-activity' highlight.id %}">
        {% else %}
        <a class="d-block-inline col-md-4 no-text-dec mb-4" href="{% url 'bunchup-hub' highlight.id %}">
        {% endif %}
            <div class="card box-shadow">
                <img class="card-img-top" src="{{ highlight.image.url }}" alt="Card image cap">
                <div class="card-body px-3 py-2">
                    <h4>{{ highlight.name }}</h4>
                    <small class="card-text">{{ highlight.description }}</small>
                </div>
            </div>
        </a>

        {% endfor %}
	</div>
    {% endfor %}
    
{% endblock content %}
