{% extends "bunchup/base.html" %}

{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Welcome!</h1>
          <h3 class="lead">Bunchup makes it super easy to find people to play with!</h3>
          <p>
            <a href="#" class="btn btn-primary my-2">Join Bunchup</a>
          </p>
        </div>
      </section>
	  
	<h1>Featured</h1>
    <div class="row">
	{% for hub in hubs %}
      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" src="https://res.cloudinary.com/practicaldev/image/fetch/s--5nUdclIu--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/i/cxd5jculpfpuyuo5a81r.jpg" alt="Card image cap">
          <div class="card-body">
		  <h4>{{ hub.name }}</h4>
            <small class="card-text">{{ hub.description }}</small>
          </div>
        </div>
      </div>
	{% endfor %}
	</div>
	
	{% if is_paginated %}
	
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if num == page_obj.number %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-2' and page_obj.number|add:'2' %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
	
		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
		
	{% endif %}
{% endblock content %}
