{% extends "bunchup/base.html" %}

{% block content %}
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome!</h1>
        <h3 class="lead">Bunchup makes it super easy to find people to play with.</h3>
        <p>
          <a href="#" class="btn btn-bunchup my-2">Join Bunchup</a>
        </p>
      </div>
    </section>
	
	<h1>Featured</h1>
    <div class="row">
        <div class="col-md-4">
			{% for hub in hubs %}
          <div class="card mb-12 box-shadow">
            <img class="card-img-top" src="{{ hub.image.url }}" alt="Card image cap">
            <div class="card-body">
	  	      <h4><a href="{% url 'bunchup-hub' hub.id %}">{{ hub.name }}</a></h4>
              <small class="card-text">{{ hub.description }}</small>
            </div>
          </div>
	  {% endfor %}
        </div>
	</div>
{% endblock content %}
