{% extends "bunchup/base.html" %}
{% load static %}

{% block content %}

    <a class="mb-5 no-text-dec bunch-button d-block mx-auto" href="{% url 'bunchup-hub-create' %}">
        <h3 class="text-heebo vertical-center text-center text-spirit-blue">
            <img src="{% static 'bunchup/img/awesome-heart.svg' %}" class="mr-1"></img>
            Start your own hub
        </h3>
    </a>

    <div class="chunky-container mx-auto">
        <h1 class="text-heebo mb-3">
            Your Hubs
        </h1>
        <div class="hub-scroll">
            {% for hub in hubs %}
            <div class="hub-scroll-element mr-5">
                <a href="{% url 'bunchup-hub' hub.id %}" class="no-text-dec d-inline-block">
                    <article class="hub-box">
                        {% comment %} <img class="w-100 h-100" src="{{ hub.image.url }}"> {% endcomment %}
                        <img class="hub-box-background-image" src="{{ hub.image.url }}">

                        <div class="bg-white hub-box-title">
                            <h2 class="d-block text-heebo my-auto vertical-center ml-4">
                                {{ hub.name }}
                            </h2>
                        </div>

                        {% comment %} <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="#">{{ hub.tags }}</a>
                                <small class="text-muted">{{ hub.activity }}</small>
                                <small class="text-muted">{{ hub.users }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'bunchup-hub' hub.id %}">{{ hub.name }}</a></h2>
                            <p class="article-content">{{ hub.description }}</p>
                        </div> {% endcomment %}
                    </article>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

	{% if is_paginated %}
	
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
		
		{% for num in page_obj.paginator.page_range %}
			{% if num == page_obj.number %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-2' and page_obj.number|add:'2' %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}
	
		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
		
	{% endif %}

{% endblock content %}
